<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Eventos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/party.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Pre-Boda</h4>
                                <h4 class="subheading">18 Julio 20:00</h4>
                                <h6><a href="https://www.google.com/maps/place/Casa+Rural+Cortijo+Macoterano/@40.8314335,-5.2953307,1187m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f69a4187175c5:0x597d580d56be412a!8m2!3d40.8314295!4d-5.2927504!16s%2Fg%2F1q5bp3mc1?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Casa Rural Cortijo Macoterano</a>, Macotera</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Calentando motores.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/ceremonia.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremonia</h4>
                                <h4 class="subheading">19 Julio 18:00</h4>
                                <h6><a href="https://www.google.com/maps/place/Iglesia+Parroquial+de+Nuestra+Se%C3%B1ora+del+Castillo/@40.8309122,-5.2880155,1181m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f69dc5d5686b7:0x825ec676f4467994!8m2!3d40.8309122!4d-5.2854352!16s%2Fg%2F1yjg7_h5b?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Iglesia de Nuestra Señora del Castillo</a>, Macotera</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La parte del sí quiero.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/coctel.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cóctel</h4>
                                <h4 class="subheading">19 Julio 20:00</h4>
                                <h6><a href="https://www.google.com/maps/place/Finca+el+Ventorro/@40.9030247,-5.1804998,286m/data=!3m1!1e3!4m6!3m5!1s0xd3f5c5e2f14cdd5:0x804936f85f33d84b!8m2!3d40.9036224!4d-5.1805311!16s%2Fg%2F11b6bvpst9?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Finca el Ventorro</a>, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A la espera de los novios, empezamos con unos aperitivos.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/banquet.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Banquete</h4>
                                <h4 class="subheading">19 Julio 21:30</h4>
                                <h6><a href="https://www.google.com/maps/place/Finca+el+Ventorro/@40.9030247,-5.1804998,286m/data=!3m1!1e3!4m6!3m5!1s0xd3f5c5e2f14cdd5:0x804936f85f33d84b!8m2!3d40.9036224!4d-5.1805311!16s%2Fg%2F11b6bvpst9?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Finca el Ventorro</a>, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A cenaaaaaaar.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/disco.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fiesta</h4>
                                <h4 class="subheading">19 Julio 23:30</h4>
                                <h6><a href="https://www.google.com/maps/place/Finca+el+Ventorro/@40.9030247,-5.1804998,286m/data=!3m1!1e3!4m6!3m5!1s0xd3f5c5e2f14cdd5:0x804936f85f33d84b!8m2!3d40.9036224!4d-5.1805311!16s%2Fg%2F11b6bvpst9?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Finca el Ventorro</a>, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Qué pasará, qué misterios habrá...</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/bus.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Buses</h4>
                                <h4 class="subheading">20 Julio 02:30</h4>
                                <h4 class="subheading">20 Julio 05:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">2 horarios de buses que vuelven hacia Macotera o hacia Amatos - Santa Marta - Salamanca</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>