<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Eventos</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Pre-Boda</h4>
                                <h4 class="subheading">18 Julio 20:00</h4>
                                <h6>Macotera</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Disfrutemos de una noche de fiesta antes de la boda.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/1.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremonia</h4>
                                <h4 class="subheading">19 Julio 18:00</h4>
                                <h6>Iglesia de Nuestra Señora del Castillo, Macotera</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">La parte del sí quiero.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/2.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cóctel</h4>
                                <h4 class="subheading">19 Julio 20:00</h4>
                                <h6>Finca el Ventorro, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A la espera de los novios, empezamos con unos aperitivos.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Banquete</h4>
                                <h4 class="subheading">19 Julio 21:30</h4>
                                <h6>Finca el Ventorro, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A comeeeeeeeeeer.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fiesta</h4>
                                <h4 class="subheading">19 Julio 23:30</h4>
                                <h6>Finca el Ventorro, Peñaranda de Bracamonte</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">A bailar hasta que amanezca.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/3.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Buses</h4>
                                <h4 class="subheading">20 Julio 02:30</h4>
                                <h4 class="subheading">20 Julio 05:00</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">2 horarios de buses que vuelven hacia Salamanca, Macotera, Santa Marta...</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>