<!-- FAQ Section -->
<section id="FAQ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dudas y Preguntas Frecuentes</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            {% for duda in site.data.en.dudas %}
                <h4 class="service-heading">{{ duda.pregunta }}</h4>  
                <p class="largepad text-muted">{{ duda.respuesta }}</p>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="largepad text-muted">Así que si no lo has hecho aún, responde a nuestro <a href="https://docs.google.com/forms/d/e/1FAIpQLSf2WT2kZFDM6nJrKtjeUbMuVGVH66xQRoRmCmie9pZerYMosQ/viewform?usp=dialog">formulario</a>, te llevará menos de un minuto.</p>
            </div>
        </div>
    </div>
</section>