<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dudas y Preguntas Frecuentes</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            {% for duda in site.data.en.dudas %}
                <h4 class="service-heading">{{ duda.pregunta }}</h4>  
                <p class="largepad text-muted">{{ duda.respuesta }}</p>
            {% endfor %}
        </div>
    </div>
</section>