<!-- Where To Eat Section -->
<section id="restaurants">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Dónde comer en Salamanca</h2>
                <h3 class="section-subheading text-muted">
                    En esta sección encontrarás una pequeña selección de restaurantes y bares donde podrás disfrutar de la gastronomía local. Algunos de ellos son muy conocidos y otros son pequeños lugares que hemos descubierto y que nos encantan.
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        La Sastrería del Mercado
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Atelier gastronómico & Taberna castiza</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/La+Sastreria+Del+Mercado/@40.96499,-5.6653237,1178m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f261415074e09:0x698738532250e9de!8m2!3d40.96499!4d-5.6627434!16s%2Fg%2F11bwd2nc7d?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Plaza del Mercado 8</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">923607247</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://lasastreriadelmercado.com">lasastreriadelmercado.com</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Portal del lino
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Cocina tradicional sin dejar de lado la vanguardia</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/Restaurante+Portal+del+lino/@40.9639186,-5.6660308,1178m/data=!3m3!1e3!4b1!5s0xd3f26145ac78a29:0x404e26b2a6fc39ef!4m6!3m5!1s0xd3f27165e8328d7:0x84ac41cb85992f4f!8m2!3d40.9639186!4d-5.6634505!16s%2Fg%2F11shpr_w70?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Calle San Juan de la Cruz 6</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">923 218 804</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://portaldellino.com">portaldellino.com</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        La Vacavieja
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Para los amantes de la carne</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/La+Vacavieja/@40.9657582,-5.6678926,1185m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f2707aabbbaef:0x7c6c85e97dd8cca9!8m2!3d40.9657542!4d-5.6653123!16s%2Fg%2F11j8_n4syf?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Calle Espoz y Mina 26</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">923 000 060</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://lavacavieja.es">lavacavieja.es</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Doze
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Bar de tardeo, tapas, copas exclusivas y el mejor ambiente</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/Doze/@40.963981,-5.6670738,1185m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f2615af017ffb:0x123886a84c7b81d7!8m2!3d40.963977!4d-5.6644935!16s%2Fg%2F1tdg92jg?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Plaza de la Isla de la Rúa 3</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">669 084 343</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://restaurantedoze.es">restaurantedoze.es</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        LiliCook Cocina
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Restaurante de cocina tradicional renovada con productos de mercado de calidad</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/LiliCook+Cocina/@40.9648437,-5.6642334,1185m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f26140b2bbc61:0x4d403b625695d8bf!8m2!3d40.9648397!4d-5.6616531!16s%2Fg%2F11b73ntc46?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Plaza Sexmeros 7</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">923 018 434</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.lilicook.es">lilicook.es</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        Café Dominicos
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Café-piano y restaurante ubicado en un entorno único</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist"><a href="https://www.google.com/maps/place/Dominicos+Caf%C3%A9/@40.9608947,-5.6691693,2369m/data=!3m2!1e3!4b1!4m6!3m5!1s0xd3f266ad5ddcb13:0xaf85e5a2b8f925a3!8m2!3d40.9608908!4d-5.664293!16s%2Fg%2F1hc4v0g7v?entry=ttu&g_ep=EgoyMDI1MDUxMi4wIKXMDSoASAFQAw%3D%3D">Calle San Pablo 41</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">923 265 022</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.cafedominicos.com">cafedominicos.com</a></span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>