<!-- Travel Section -->
<section id="travel">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cómo Llegar</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Coche</h4>
                <p class="text-muted">Sigue las direcciones de Mr Google para llegar a la iglesia.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Bus</h4>
                <p class="text-muted">
                    Organizaremos varios buses para recoger a los invitados en Salamanca y en los pueblos de alrededor. Haznos saber si necesitas que te recojamos.
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-train fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Tren</h4>
                <p class="text-muted">
                    La parada de tren más cercana es la de Peñaranda de Bracamonte. Desde allí puedes tomar el bus que vendrá de Salamanca u organizarte con otros invitados para que te recojan.
                </p>
            </div>
        </div>
    </div>
</section>