<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Cómo llegar</h2>
                <h3 class="section-subheading text-muted">La ceremonia se celebrará en La iglesia de Nuestra Señora del Castillo, Macotera. Desde allí, nos trasladaremos a la Finca el Ventorro para continuar con el cóctel, el banquete y la fiesta.</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 75%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
            {{ site.google-maps-iframe }}
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Coche</h4>
                <p class="text-muted">Sigue las direcciones de Mr Google para llegar a la iglesia.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Bus núm. 1</h4>
                <p class="text-muted">
                    Organizaremos varios buses para recoger a los invitados en Salamanca y en los pueblos de alrededor. Haznos saber si necesitas que te recojamos.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-bus-simple fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">En Bus núm. 2</h4>
                <p class="text-muted">Si vienes en tren, la parada más cercana a la ceremonia es la de Peñaranda de Bracamonte.</p>
            </div>
        </div>
    </div>
</section>